.MainApp.light {
  --background: #f3f6f8;
  --paper: #f8f9fa;

  --text-primary: #000000;
  --text-secondary: #7c7c7c;
  --text-disabled: #b9b9b9;

  --divider: #dfdfdf;

  --shadow:  0px 5px 24px #e0e0e0,
  -9px -9px 24px #ffffff;

  --map-tiles-filter: unset;
}